[user]
	email = hector@hecrj.dev
	name = Héctor Ramón Jiménez
[commit]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
