* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Hasklug Nerd Font", monospace;
    font-weight: 500;
    font-size: 12px;
    padding: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.8);
}

tooltip {
    background-color: #1d2021;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    padding: 2px 8px;
    background: none;
}

#cpu {
    color: #94e2d5;
}

#memory {
    color: #74c7ec;
}

#network {
    color: #b4befe;
}

#pulseaudio {
    color: #f2cdcd;
}

#clock.date {
    color: #fab387;
}

#clock {
    color: #cdd6f4;
}

#window {
    color: #cdd6f4;
}

#workspaces {
    background: none;
}

#workspaces button {
    padding: 5px;
    color: #a6adc8;
}

#workspaces button.active {
    color: #89dceb;
    border-bottom: 1px solid #89dceb;
}

#workspaces button:hover {
    color: #89b4fa;
    box-shadow: none;
    text-shadow: none;
    background: none;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}


#tray {
    background-color: #d4be98;
    border: 2px solid #c7ab7a;
}

#cpu.critical,
#memory.critical {
    color: #f38ba8;
}
